a_1 = #2196F3
a_2 = #E3F2FD
a_3 = #BBDEFB
a_4 = #90CAF9
a_5 = #64B5F6
a_6 = #42A5F5
a_7 = #00ACC1
a_8 = #009688
a_9 = #80CBC4
a_10 = #00BFA5
g_1 = #424242
g_2 = #212121
g_3 = #37474F

@font-face
  font-family 'icomoon'
  src url('../fonts/icomoon.eot?-au9c0f')
  src url('../fonts/icomoon.eot?#iefix-au9c0f') format('embedded-opentype'),
 url('../fonts/icomoon.ttf?-au9c0f') format('truetype'),
		url('../fonts/icomoon.woff?-au9c0f') format('woff'),
		url('../fonts/icomoon.svg?-au9c0f#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-inicio
  &:before
    content "\e600"

.icon-comentario
  &:before
    content "\e601"

.icon-foto
  &:before
    content "\e602"

.icon-telefono
  &:before
    content "\e603"

.icon-buscar
  &:before
    content "\e604"

.icon-menu
  &:before
    content "\e605"

.icon-fav1
  &:before
    content "\e606"

.icon-fav2
  &:before
    content "\e607"

.icon-facebook
  &:before
    content "\e608"

.icon-instagram
  &:before
    content "\e609"

.icon-twitter
  &:before
    content "\e60a"

.icon-youtube
  &:before
    content "\e60b"




body 
	font-size 16px

.h_index
	
	height 39.5em
	margin 0em 0em
	background url('../img/doc.jpg') no-repeat
	//background url('../img/h_f.jpg') no-repeat
	background-size 100% 100%
	

	.h_a
		text-decoration none
		color a_10
		position absolute
		font-size 30px
	
	.h_n
		width 34%
		margin 0em 0em 0em 0em
		

		.h_u
			margin 0em 0em
			padding 0em 0em
			overflow hidden
			position relative
			left 27em
			top 6.5em
			transform rotate(45deg)
			
			.h_l
				width 140px
				height 140px
				margin 0em 0em
				padding 0em 0em
				list-style none
				display list-item
				float left
				overflow hidden
				position relative
				background-color rgba(0,0,0,.6)
				border 1px white solid
				//transform rotate(-45deg)
				&:hover
					background-color g_3
					

				a
					position absolute
					background-position center
					background-repeat no-repeat
					text-decoration none
					transform rotate(-45deg)
					color white
					right 34px
					left 43px
					top 75px
					&:hover
						font-size 20px

.f_index
	width 100%
	height 2em
	background a_10
	margin 0em 0em
	padding-top .5em
	text-align center
	
	.moon 
		text-decoration none
		color g_3
		font-size 25px
		margin 0em .5em